{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} | Nos {{ category }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center my-5">Nos {{ bicycles[0].model }}</h1>
        <div class="row bikes pb-5 d-flex justify-content-center">
            {% for bicycle in bicycles %}
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card bg-dark text-white card-inverse">
                        <img src="{{ bicycle.image }}" class="card-img" alt="{{ bicycle.name }}">
                        <div class="card-img-overlay d-flex">
                            <h2 class="card-title text-truncate align-self-center mx-auto">{{ bicycle.name }}</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}