{% extends 'layoutAdmin.html.twig' %}
{% block title %} {{ parent() }} | Admin - Ajouter un vélo{% endblock %}
{% block content %}
    <h2 class="text-center my-5">Ajouter un vélo</h2>
    <div class="container pb-5">
        <ul class="mt-3 alert alert-danger">
            {%- for error in errors -%}
                <li>{{ error }}</li>
            {%- endfor -%}
        </ul>
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nom du vélo</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Rockrider 5.1 homme" required
                       value="{{ bike.name }}">
            </div>
            <div class="form-group">
                <label for="weight">Poids</label>
                <input type="number" class="form-control" id="weight" name="weight" placeholder="15" required
                value="{{ bike.weight }}">
            </div>
            <div class="form-group">
                <label for="stock">Nombre de vélo</label>
                <input type="number" class="form-control" id="stock" name="stock"
                       placeholder="2" required value="{{ bike.stock }}">
            </div>
            <div class="form-group">
                <label for="category_id">Catégorie</label>
                <select class="form-control" id="category_id" name="category_id" required
                        value="{{ bike.category_id }}">
                    {% for category in categories %}
                        <option {{ category == category.id ? 'selected' }} value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="maximum_charge">Charge maximale (optionnel)</label>
                <input type="text" class="form-control" id="maximum_charge" name="maximum_charge"
                       placeholder="100" value="{{ bike.maximum_charge }}">
            </div>

            <div class="form-group">
                <label for="autonomy">Autonomie (optionnel)</label>
                <input type="text" class="form-control" id="autonomy" name="autonomy"
                       placeholder="200wh" value="{{ bike.autonomy }}">
            </div>

            <div class="form-group">
                <label for="frame_size">Taille du cadre (optionnel)</label>
                <input type="text" class="form-control" id="frame_size" name="frame_size"
                       placeholder="S, M, L..." value="{{ bike.frame_size }}">
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="image" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" name="description" required
                       placeholder="Ce vélo est muni de..." ></textarea>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-info">Ajouter</button>
            </div>
        </form>
    </div>
{% endblock %}
