{% extends 'layoutAdmin.html.twig' %}

{% block title %} {{ parent() }}Réservations{% endblock %}

{% block content %}
    <h1 class="my-5 text-center">Bienvenue admin !</h1>
    <main class="container">
        <h2 class="my-5 text-center pt-5">Réservations à valider</h2>
        <table class="table table-striped table-light table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date de retrait</th>
                <th scope="col">Modèle</th>
                <th scope="col">Nombre</th>
                <th scope="col">Stock</th>
                <th scope="col">Etat</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations if reservation.is_validated is null %}
            <tr>
                <td scope="row">{{ reservation.withdrawal }}</td>
                <td scope="row">{{ reservation.category }} - {{ reservation.bicycle }}</td>
                <td scope="row">{{ reservation.number_bike }}</td>
                <td scope="row">{{ reservation.stock }}</td>
                <td scope="row" class="text-info">
                    <a href="/adminReservation/reservation/{{ reservation.id }}">A valider</a></td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        <h2 class="my-5 text-center pt-5">Réservations traitées</h2>
        <table class="table table-striped table-light table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Date de retrait</th>
                <th scope="col">Modèle</th>
                <th scope="col">Nombre</th>
                <th scope="col">Stock</th>
                <th scope="col">Etat</th>
            </tr>
            </thead>

            <tbody>
            {% for reservation in reservations if reservation.is_validated is not null %}
            <tr>
                <td scope="row">{{ reservation.withdrawal }}</td>
                <td scope="row">{{ reservation.category }} - {{ reservation.bicycle }}</td>
                <td scope="row">{{ reservation.number_bike }}</td>
                <td scope="row">{{ reservation.stock }}</td>
                <td scope="row">
                    <a class="
                        {% if constant('App\\Model\\ReservationManager::RESERVATION_ACCEPTED')
                        == reservation.is_validated %}text-success
                        {% elseif constant('App\\Model\\ReservationManager::RESERVATION_REFUSED')
                        == reservation.is_validated %}text-danger
                        {% endif %}
                             " href="/adminReservation/reservation/{{ reservation.id }}">{{ reservation.is_validated }}
                    </a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock %}